{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
  'region',
  'region-' ~ region|clean_class,
  'bg-black',
  'text-white',
  'py-5',
]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="container-fluid bg-black">
      <div class="container">
        <div class="row">
          <div class="d-md-flex flex-md-nowrap justify-content-md-start align-items-md-center text-center text-md-start border-top pt-4">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
